{# Bottom Navbar #}

    <nav class="navbar sticky-bottom navbar-dark navbar-expand" id="bottomNav">
        <div class="container">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <p class="navbar-text">Copyright <i class="far fa-copyright p-1 m-auto" style="color: #007BFF !important;"></i> {{ "now"|date("Y") }}<br>All Rights Reserved</p>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item" id="backToTop">
                    <a href="#" class="nav-link" id="scroll">
                        <i class="fas fa-arrow-up p-1 m-auto"></i>Scroll To Top
                    </a>
                </li>

            </ul>

        </div>
    </nav>
