
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="topNav">
        <div class="container">

            <a class="h1 navbar-brand" href="{{ BaseUrl }}">
                <i class="fas fa-cloud-download-alt p-1 mr-1" style="color: #FFFFFF !important;"></i>WarezAddict
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ BaseUrl }}/register">Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ BaseUrl }}/login">Login</a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
